# ----------------------------------------------------------------------
#  CORS
# ----------------------------------------------------------------------
<IfModule mod_headers.c>
    <FilesMatch "\.(ico|cssi|ttf|otf|eot|woff|woff2)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>

# Send the CORS header for images when browsers request it.
<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        <FilesMatch "\.(ico|jpe?g|png)$">
            SetEnvIf Origin ":" IS_CORS
            Header set Access-Control-Allow-Origin "*" env=IS_CORS
        </FilesMatch>
    </IfModule>
</IfModule>

# ----------------------------------------------------------------------
#  MEDIA TYPES AND CHARACTER ENCODINGS
# ----------------------------------------------------------------------

<IfModule mod_mime.c>
  # Serve resources with the proper media types (formerly known as MIME types).

  # JavaScript
    AddType application/javascript                      js

  # Other
    AddType image/x-icon                                ico
    AddType application/vnd.ms-fontobject               eot
    AddType font/truetype                               ttf
    AddType font/opentype                               otf
    AddType application/x-font-woff                     woff
    AddType application/x-font-woff2                    woff2

  # Set `UTF-8` as the character encoding for other certain resources.
    AddCharset utf-8 .css .js

</IfModule>

<IfModule mod_deflate.c>
  <FilesMatch "\.(ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>
